* text=auto eol=lf

*.java text charset=utf-8
*.xml text charset=utf-8
*.md text charset=utf-8
*.yml text charset=utf-8
*.yaml text charset=utf-8
*.properties text charset=utf-8
*.imports text charset=utf-8
*.json text charset=utf-8
